.first{
  min-height: 400px;
  background: url('../ip2/assets/backgrounds/landing.jpg') no-repeat;
  color: #FFFFFF;
  text-align: center;
}
.happyhour{
  height: 105px;
  width: 350px;
  background-color: #e0e0d1;
  justify-content: center;
  display: flex;
  align-items: center;
}
.partytime{
  height: 105px;
  width: 350px;
  background-color: #ff3300;
  justify-content: center;
  display: flex;
  align-items: center;
}
.Breakfast{
  height: 210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/breakfast.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  align-items: center;
}
.Lunch{
  height: 210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/lunch.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  align-items: center;
}
.Dinner{
  height: 210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/dinner.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #FFFFFF;
  align-items: center;
}
#image{
   margin: 100px;
   border-radius: 4px;
   padding: 5px;
   padding-right: 0px;
   border: 1px solid #ddd;
   align-content: center;
   align-items: center;
   width: 410px;
 }
 #image1 {
   width: 400px;
}
#image2 {
 width: 400px;
}
#img3{
 height:300px;
}
#img4{
 height:300px;
}
#image5{
 margin: 100px;
 border-radius: 4px;
 padding: 5px;
 padding-right: 0px;
 border: 1px solid #ddd;
 align-content: center;
 align-items: center;
 width: 395px;
}
#button1 {
   background-color: white;
   color: #F15A29;
   border: 2px solid #F15A29;
   padding: 10px;
   border-radius: 4px;
   margin-top: 50px;
}
.text{
  padding: 50px;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#myNav1{
 float: left;
 margin: 20px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F15A29;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
#back{
 background-image: url(../ip2/assets/backgrounds/foodsBg.jpg);
 display: flex;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}
#panel{
 display: flex;
 border-radius: 4px;
 padding: 5px;
 border: 1px solid #ddd;
 margin-top:13%;
 margin-bottom: 13%;
 background-color: #ffffff;

}
#table1{
 width:100%;
 margin-left: 25px;
}
#table2{
 width:100%;
}
.img-padding1{
 padding: 40px;
 font-size: 30px;
 color: orange;
 font-weight: bold;
 border-color: black;
}
.img-padding{
 padding: 20px;
 padding-left: 50px;
 font-size: 25px;
 color: orange;
}
#customers{
 display: flex;
 margin: 100px;
 border-radius: 4px;
 padding: 5px;
 border: 1px solid #ddd;
 align-content: center;
 align-items: center;
 width: 70%;
 background-color: #ffffff;
 margin-left: 13%;
}
#subscription{
 background-image: url(../ip2/assets/backgrounds/subscribe.jpg);
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 color: #ffffff;
 font-size: 35px;
 background-image: no-repeat;
}
#email{
 background: inherit;
 color: #ffffff;
 width: 70%;
}
#button{
 background-color: #e65c00;
 border:none;
 color: #ffffff;
}
#footer{
 background-color:  #e65c00;
 display: flex;
 justify-content: center;
 align-items: center;
}
#logo-white{
 float: left;
 padding: 20px;
 padding-bottom: 10px;
}
#logo-white-caption{
 color: #ffffff;
}
#caption{
 color: #ffffff;
 font-size:25px;
 padding-left: 30px;
}
.footer-logos{
 padding: 20px;
}
#copyright{
 color:#ffffff;
 font-size: 15px;
 padding-left: 45px;
}
